*{
	padding:  0;
	margin:  0;
	font-family: "Poppins",Arial,sans-serif;
	font-size: 17px;
	box-sizing: border-box;
}

body {
	width:  100%;
}

/*=====================================================1st section===========================================*/
.header{
	background-image: url("../images/xbg_3.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.topbar{
	background: rgb(7, 121, 228);
	display: flex;
	justify-content: space-around;
	color: whitesmoke;
	height: 40px;
	align-items: center;
}
.main-navbar{
	width: 100%;
	display: flex;
	background: rgb(255,255,255,0.5);
    align-items: center;
    padding: 20px;	
}
.logo{
	width: 40%;
}
.menu{
	width: 60%;
}
ul {
  list-style: none;
}
.menu li{
	float: left;
	margin: 20px 30px;
}
li a {
	text-decoration: none;
	color: black;
	font-size: 22px;
}
.logo h1{
	font-size: 40px;
    margin-left: 130px;
    font-weight: 1000;
    font-family: -webkit-body;
}
.nav-btn{
	padding: 20px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
}
.welcome-note{
	width: 40%;
	padding: 200px 100px;
}
.welcome-note h2{
	text-transform: uppercase;
	color: rgb(7, 121, 228);
	letter-spacing: 2px;
}
.welcome-note h1{
	font-size: 80px;
	font-weight: 1000;
	margin: 30px 0px;
}
.welcome-note p{
	color: darkslategrey;
	margin-bottom: 50px;
}
.appointment-btn{
		padding: 25px;
		background: rgb(7, 121, 228);
		text-decoration: none;
		color: white;
		border-radius: 34px;
	}
/*2nd section*/
.section2{
	margin: 0px 150px;
}
.section2-row{
	display: flex;
	justify-content: center;
}
.section2-left-col{
	flex-basis: 30%;
	
}
.section2-left-col img{
	object-fit:fill;
  width:700px;
  height:900px;
}
.section2-right-col{
	flex-basis: 60%;
}
.section2-right-col div{
	padding: 300px 130px;
}
.section2-right-col div>h1,h1>span{
	font-size: 50px;
}
.section2-right-col p{
	color: slategrey;
	margin: 40px 0px;
}
.contact-btn{
	padding: 25px;
	color: white;
	background: rgb(217, 83, 79);
	text-decoration: none;
	border-radius: 34px;
}

/*=============================================================3rd section=======================================*/

.image-box-background {
  background-image: url('../images/xbg_2.png');
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(128,128,128,0.4);
  margin-top: -5px;
}
.image-box-content {
  color: white;
  text-align: center;
  padding: 250px 0px;
}
.image-box-content h1{
	font-size: 80px;
	font-weight: 1000;
}
.image-box-content p{
	margin: 40px 0px;
}
.search-place{
	padding: 20px 30px;
	background: whitesmoke;
	text-decoration: none;
	border-radius: 34px
}

/*========================================================4th section========================================================*/
#fourth{
	width: 100%;
	padding: 150px 50px;
}
.fourth-row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-evenly;

}
.img-card{
	flex-basis: 25%;
	text-align: center;
	align-items: center;
	flex-direction: column;
  display: flex;
}
.img-card img{
	width: 90%;
}

#fourth>h1{
	font-size: 40px;
	font-weight: 1000;
	text-align: center;
}
#fourth>p{
	text-align: center;
	color: slategrey;
	margin: 70px 0px;
}
.img-card>h1{
	font-size: 25px;
	margin: 20px 0px;
}
.img-card>h3{
	color: rgb(7, 121, 228);
	letter-spacing: 2px;
}
.img-card>p{
	margin: 20px 0px;
	padding: 0 50px;
	color: slategrey;
}
.img-card>a{
	padding: 15px;
	background: rgb(7, 121, 228);
	text-decoration: none;
	border-radius: 34px;
	color: white;
	box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.2);
}
/*============================================================5th section===========================================*/
.fifth-section{
	width: 100%;
	background-image: url(../images/xbg_3.png);
	background-repeat: no-repeat;
	background-size: cover;
	/*simple thing to add background overlay*/
	box-shadow: inset 0 0 0 1000px rgba(7,121,228,0.7);
}
.fifth-row{
	display: flex;
}
.fifth-left{
	flex-basis: 40%;
	padding: 220px 0px 220px 200px;
}
.fifth-right{
	flex-basis: 60%;
}
.fifth-left p{
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.fifth-left h1{
	font-size: 60px;
	font-weight: 1000;
	color: white;
	margin: 40px 0px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 230px 100px 230px 30px;

}
.grid-item {
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px 20px 50px 20px;
  text-align: center;
}
.grid-item h1{
	font-size: 60px;
	color: white;
	font-weight: 1000;
}
.grid-item p{
	color: white;
}
/*========================================================sixth section===========================================*/

#sixth{
	width: 100%;
	padding: 200px 50px;
}
.sixth-row{
	margin: 80px 0px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-evenly;

}
.img-card2{
	flex-basis: 30%;
	flex-direction: column;
  display: flex;
}
.img-card2 img{
	width: 100%;
}

#sixth>h1{
	font-size: 40px;
	font-weight: 1000;
	text-align: center;
}
#sixth>p{
	text-align: center;
	color: slategrey;
	margin: 70px 0px;
}
.img-card2>h1{
	text-align: left;
	font-size: 25px;
	margin: 10px 0px;
}
.img-card2>h3{
	text-transform: uppercase;
	margin: 20px 0px;
	color: rgb(217, 83, 79);
	letter-spacing: 2px;
}
.img-card2>p{
	margin: 20px 0px;
	color: slategrey;
}
.img-card2>a{
	padding: 15px;
	background: rgb(7, 121, 228);
	text-decoration: none;
	border-radius: 34px;
	color: white;
	box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.2);
	width: fit-content;
}

/* =============================================================seventh section=================================================*/
.seventh-section{
	width: 100%;
	background-image: url(../images/xbg_3.png);
	background-size: cover;
	/*simple thing to add background overlay*/
	box-shadow: inset 0 0 0 1000px rgba(7,121,228,0.7);
}
.seventh-section>p{
		text-align: center;
		color: white;
		text-transform: uppercase;
		padding: 100px 0px 0px 0px;
}
.seventh-section>h1{
		text-align: center;
		color: white;
		font-size: 50px;
		font-weight: 1000;	
}

.seventh-row{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.testmonial{
	flex-basis: 25%;
	padding: 100px 0px;
	text-align: center;
	color: white;
}
.testmonial>img{
	width: 40%;
	border-radius: 100px;
}
.testmonial>p{
	padding: 10px 40px;
}
.pagination{
	text-align: center;
	padding: 0px 0px 80px 0px;
}
.pagination .dot {
  height: 18px;
  width: 18px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid white;
  margin: 0px 2px;
}


/*===============================================eightth section===============================================*/
#eight{
	padding:  200px 100px;
}

#eight>h1{
	font-size: 50px;
	font-weight: 1000;
	text-align: center;
}
#eight>p{
	text-align: center;
	color: slategrey;
	margin: 40px 0px;
}
.eight-row1{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-bottom: 100px;
}
.contact-card{
	flex-basis: 22%;
	text-align: center;
	background: rgb(245,245,245);
	padding: 40px 0px 160px 0px;
}
.contact-card .contact-icon{
	background: white;
	padding: 30px 30px;
	border-radius: 100px;
	margin: 0px 155px;
}
.contact-card h3{
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 600;
	padding: 40px 0;
}

.eight-row2{
	background: rgb(245,245,245);
	display: flex;
	margin: 0px 40px;
}
.eight-left-col{
	flex-basis: 50%;
}
.eight-right-col{
	flex-basis: 50%;
}
.eight-right-col .form{
	margin: 100px 100px 100px;
}
form{
	display: flex;
	flex-direction: column;
}

.form input{
	height: 60px;
	width: auto;
	border-radius: 5px;
	margin-bottom: 30px;
	border: 1px solid;
	border-color: lightgray;

}
.form textarea{
		height: 200px;
		width: auto;
		border-radius: 5px;
		border-color: lightgray;
		margin-bottom: 30px;
}
.message-btn{
	padding: 20px 40px;
	border-radius: 34px;
	background: rgb(217, 83, 79);
	color: white;
	text-decoration: none;
	width: 200px;
	text-align: center;
}


/*===============================================footer========================================================*/
.footer{
	width: 100%;
	background-image: url(../images/footer.jpg);
	padding: 40px 0px;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 0 1000px rgb(245,245,245,0.8);
}
.footer-row{
	display: flex;
	justify-content: space-between;
	padding: 0px 25px;
}
.footer-row div{
	flex-basis: 15%;
}
.footer-row h1{
	font-size: 25px;
	font-weight: 500;
	padding: 20px 0px;
}
.footer-row div>a{
	text-decoration: none;
	color: rgb(7, 121, 228);
}
.fa-long-arrow-right{
	font-size: 17px;
	color: rgb(7, 121, 228);
}
.footer-row>div>div{
	padding: 10px 0px;
}
footer>p{
	text-align: center;
	padding: 50px 0px;
}













@media only screen and (max-width: 768px) {


	/*================================================================footer===========================================================*/
.footer{
	padding: 20px 0px;;
}
.footer-row{
	flex-direction: column;
	padding: 0px 25px;
}
.footer-row div{
	flex-basis: 100%;
}
.footer-row h1{
	font-size: 20px;
	padding: 10px 0px;
}
/*==============================================================contact-us section===================================================*/

#eight{
	padding:  30px 30px;
}

#eight>h1{
	font-size: 25px;
}
.eight-row1{
	flex-direction: column;
	align-items: center;
}
.contact-card{
	flex-basis: 100%;
	padding: 40px 0px 60px 0px;
	margin: 20px 0px
}
.contact-card .contact-icon{
	padding: 15px 18px;
	margin: 0px 130px;
}
.contact-card h3{
	font-size: 17px;
	font-weight: 500;
}

.eight-row2{
	flex-direction: column;
	padding: 0px;
	margin-top: -20px;
	margin-right: 0px;
	margin-left: 0px;
}
.eight-left-col{
	flex-basis: 100%;
}
.eight-right-col{
	flex-basis: 100%;
}
.g-map{
	width: 100%;
	height: 500px;
}
.eight-right-col .form{
	margin: 15px
}

.form input{
	height: 30px;
	width: 100%;
	border-radius: 5px;
	margin-bottom: 20px;
}


/* =============================================================seventh section=================================================*/
.seventh-section>p{
		font-size: 11px;
		padding: 50px 0px 0px 0px;
}
.seventh-section>h1{
		font-size: 25px;
}
#testmonial1{
	display: none;
}
#testmonial3{
	display: none;
}

.seventh-row{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.testmonial{
	flex-basis: 100%;
	padding: 50px 0px;
}
.testmonial>img{
	width: 50%;
}
.testmonial>p{
	padding: 10px
}
.pagination{
	padding: 0px 0px 40px 0px;
}
.pagination .dot {
  height: 12px;
  width: 12px;
}

/*========================================================sixth section===========================================*/

#sixth{
	padding: 50px 25px;
}
.sixth-row{
	margin: 10px 0px;

}
.img-card2{
	flex-basis: 100%;
	flex-direction: column;
  display: flex;
  margin: 10px 0px;
}

#sixth>h1{
	font-size: 25px;
}
#sixth>p{
	font-size: 14px;
	margin: 20px 0px;
}
.img-card2>h1{
	font-size: 20px;
	margin: 5px 0px;
}
.img-card2>h3{
	margin: 10px 0px;
	letter-spacing: 1px;
	font-size: 14px;
}
.img-card2>p{
	margin: 10px 0px;
	font-size: 14px;
}
.img-card2>a{
	padding: 10px;
	width: 30%;
	text-align: center;
	font-size: 14px;
}

/*============================================================5th section===========================================*/
.fifth-row{
	flex-direction: column;
	align-items: center;
	padding: 20px 0px 0px 0px;
}
.fifth-left{
	flex-basis: 100%;
	padding: 0px 0px 0px 0px;
}
.fifth-right{
	flex-basis: 100%;
}
.fifth-left p{
	font-size: 14px;
}
.fifth-left h1{
	font-size: 25px;

	margin: 10px 0px 40px 0px;
}
.grid-container {
  display: block;
  padding: 40px 0px 40px 0px;

}
.grid-item {
	border-left: none !important;
	border-right: none !important;
  padding: 20px 100px 20px 100px;
}
.grid-item h1{
	font-size: 25px;
}
.grid-item p{
	font-size: 14px;
}

	/*========================================================4th section========================================================*/
	#fourth{
		padding: 36px 24px;
		margin: 40px 0px;
	}
	.fourth-row{
		flex-direction: column;
	}
	.img-card{
		flex-basis: auto;
		margin: 10px 0px;
	}
	#fourth>h1{
		font-size: 25px;
	}
	#fourth>p{
		font-size: 14px;
		margin: 24px 0px;
	}
	.img-card>h1{
		font-size: 20px;
		margin: 10px 0px;
	}
	.img-card>h3{
		font-size: 17px;
	}
	.img-card>p{
		margin: 20px 0px;
	}
	.img-card>a{
		padding: 12px;
	}

/*=============================================================3rd section=======================================*/

.image-box-background {
  background-image: url('../images/xbg_2.png');
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(128,128,128,0.4);
  margin-top: -5px;
}
.image-box-content {
  padding: 70px 20px;
}
.image-box-content h1{
	font-size: 30px;
}
.image-box-content p{
	margin: 20px 0px;
	font-size: 14px;
}
.search-place{
	font-size: 14px;
	padding: 10px 20px;
}

/*===================================================================2nd section============================*/

.section2{
	margin: 0px 0px;
}
.section2-row{
	display: flex;
	flex-direction: column;
}
.section2-left-col{
	flex-basis: 100%;
	
}
.section2-left-col img{
  width:100%;
  height:500px;
}
.section2-right-col{
	flex-basis: 100%;
}
.section2-right-col div{
	padding: 50px 20px;
}
.section2-right-col div>h1,h1>span{
	font-size: 25px;
}
.section2-right-col p{
	font-size: 14px;
	margin: 20px 0px 40px 0px;
}
.contact-btn{
	padding: 20px 125px;
	font-size: 14px;
	text-align: center;
}
.appointment-btn{
		padding: 20px 100px;
		font-size: 14px;
		text-align: center;
	}
	.section2-right-col div>a{
		display: block;
		margin: 10px 0px;
	}

/*=====================================================1st section===========================================*/

.header{
	background-position: center;
}
.topbar{
	display: none;
}
.main-navbar{
	background: black;
    padding: 10px;	
}

.menu li{
	margin: 10px 10px;
}
li a {
	display: none;
}
.logo h1{
	font-size: 30px;
    margin-left: 0px;
    color: white;
}
.nav-btn{
	display: none;
}

.menu-button {
  display: inline-block;
  cursor: pointer;
  float: right;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}





/*after nav*/


.welcome-note{
	width: 100%;
	padding: 100px 20px;
}
.welcome-note h2{
	letter-spacing: 1px;
}
.welcome-note h1{
	font-size: 30px;
	margin: 10px 0px;
}
.welcome-note p{
	font-size: 14px;
	margin-bottom: 30px;
}

}
